{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url "create_project" %}">Create a new project</a>
            </p>
            <!--If there is no project assigned to the person-->
            {% if not projects %}
                <p>You are not assigned to any projects</p>
            {% else %}

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Loop through the projects to display project's information -->
                        {% for project in projects %}   <!--projects: context_object_name from ProjectListView-->
                            <tr>
                                <th><a href="{% url "show_project" project.pk %}">{{ project.name }}</a></th>
                                <th>{{ project.tasks.all|length }}</th>
                            </tr>
                        {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
    </main>
{% endblock content %}